/*
##### CUERPO #####
*/

body {
    margin: 0;
    padding: 0;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("cielo-vertical.jpg");
    background-size: cover;
    filter: sepia(30%);
    z-index: -1; 
}

.album {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/*
##### SECCIÓN 1 #####
*/

.seccion-1 {
    margin-top: 40px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; 
}

.titulo {
    text-align: center;
    font-family: "Dancing Script", sans-serif;
    font-size: 60px;
    text-align: center;
}

.descripcion {
    font-family: "Averia Serif Libre", sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 0 30px;
}

.foto-1{
    transform: rotate(-6deg);
}

.foto-2 {
    transform: rotate(3deg);
}
@media only screen and (max-width: 950px) {
    .seccion-1 {
        flex-direction: column; 
        align-items: center;
    }

    .contenido {
        margin-bottom: 20px; 
        order: 1; 
    }

    .foto-1 {
        order: 2; 
        width: 70vw; 
        max-width: 300px;
    }

    .foto-2 {
        order: 3; 
        width: 70vw;
        max-width: 300px;
    }  
}

/*
##### SECCIÓN 2 #####
*/
  
.foto-3 {
    max-width: 300px;
    transform: rotate(2deg);
}

.fotos-s2 {
    margin: auto;
    display: grid;
}

.foto-4 {
    max-width: 320px;
    transform: rotate(1deg);
}

.foto-5 {
    transform: rotate(-2deg);
    max-width: 310px;
}

/*
##### SECCIÓN 3 #####
*/

.seccion-3 {
    margin-bottom: 30px;
}


.foto-7 {
    transform: rotate(-2deg);
    max-width: 340px;
}

.foto-8 {
    transform: rotate(-1deg);
    max-width: 160px;
}

.foto-9 {
    transform: rotate(3deg);
    max-width: 355px;
}


/*
##### SECCIÓN 5 #####
*/

.foto-11 {
    transform: rotate(1deg);
    max-width: 340px;
}

.foto-12 {
    transform: rotate(-2deg);
    max-width: 345px;
    
}

.foto-13 {
    transform: rotate(-1deg);
    max-width: 350px;
}

.foto-14 {
    transform: rotate(3deg);
    max-width: 160px;
}

/*
##### SECCIÓN 6 #####
*/

.foto-15 {
    transform: rotate(1deg);
    max-width: 340px;
}

.foto-16 {
    transform: rotate(-2deg);
    max-width: 345px;
}

.foto-17 {
    transform: rotate(-1deg);
    max-width: 160px;
}

.foto-18 {
    transform: rotate(3deg);
    max-width: 350px;
}


/*
##### SECCIÓN 7 #####
*/

.foto-19 {
    transform: rotate(1deg);
    max-width: 340px;
}

.foto-20 {
    transform: rotate(-2deg);
    max-width: 345px;
}

/*
##### SECCIÓN 8 #####
*/

.foto-21 {
    transform: rotate(1deg);
    max-width: 340px;
}

.foto-22 {
    transform: rotate(-2deg);
    max-width: 345px;
}

.foto-23 {
    transform: rotate(-1deg);
    max-width: 420px;
}

.foto-24 {
    transform: rotate(3deg);
    max-width: 260px;
}

/*
##### SECCIÓN 9 #####
*/

.foto-25 {
    transform: rotate(1deg);
    max-width: 340px;
}

.foto-26 {
    transform: rotate(-2deg);
    max-width: 345px;
}

.foto-27 {
    transform: rotate(-1deg);
    max-width: 160px;
}

.foto-28 {
    transform: rotate(3deg);
    max-width: 160px;
}

/*
##### SECCIÓN 10 #####
*/

.foto-29 {
    transform: rotate(1deg);
    max-width: 340px;
}

.foto-30 {
    transform: rotate(-2deg);
    max-width: 345px;
}

.foto-31 {
    transform: rotate(-1deg);
    max-width: 300px;
}

.foto-32 {
    transform: rotate(3deg);
    max-width: 350px;
}

/*
##### SECCIÓN 11 #####
*/

.foto-33 {
    transform: rotate(1deg);
    max-width: 340px;
}

.foto-34 {
    transform: rotate(-2deg);
    max-width: 345px;
}

.foto-35 {
    transform: rotate(-1deg);
    max-width: 290px
}

.foto-36 {
    transform: rotate(3deg);
    max-width: 340px;
}

/*
##### SECCIÓN 12 #####
*/
  
.foto-37 {
    transform: rotate(3deg);
    max-width: 555px;
}

/*
##### SOLUCIONES #####
*/
.foto-1, .foto-2 {
    padding:10px 10px 50px 10px;
    position: relative;
    background-repeat: no-repeat;
    background-image: url('papel-desgastado.jpg');
    background-size: cover;
    background-position: center;
    width: 200px;
    margin: 10px 20px 10px 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

.fotos1-s3, .fotos2-s3, .fotos1-s5, .fotos2-s5,
.fotos1-s6, .fotos2-s6, .fotos1-s8, .fotos2-s8, .fotos1-s9, 
.fotos2-s9, .fotos1-s10, .fotos2-s10, .fotos1-s11, .fotos2-s11 {
    margin: auto;
    display: grid;
    min-width: 300px;
    flex-wrap: wrap;
}

.foto-3, .foto-4, .foto-5,
.foto-7, .foto-8, .foto-9, .foto-10, .foto-11, .foto-12,
.foto-13, .foto-14, .foto-15, .foto-16, .foto-17, .foto-18,
.foto-19, .foto-20, .foto-21, .foto-22, .foto-23, .foto-24,
.foto-25, .foto-26, .foto-27, .foto-28, .foto-29, .foto-30,
.foto-31, .foto-32, .foto-33, .foto-34, .foto-35, .foto-36,
.foto-37 {
    margin: auto;
    padding:10px 10px 50px 10px;
    position: relative;
    background-repeat: no-repeat;
    background-image: url('papel-desgastado.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 10px; 
    width: 80vw; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 

}
.seccion-11, .seccion-10, .seccion-9, .seccion-8, 
.seccion-7, .seccion-6, .seccion-5, .seccion-3, .seccion-2 {
    min-width: 300px;
    flex-wrap: wrap;
}

.seccion-2, .seccion-3, 
.seccion-5, .seccion-6, .seccion-7, .seccion-8,
.seccion-9, .seccion-10, .seccion-11, .seccion-12 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

